.card {
    width: 400px;
    height: 430px;
    backdrop-filter: blur(5px);
    margin-top: 5%;
    position: absolute;
    right: 0;
    margin-right: 3rem;
    border: 2px solid #fff;
    border-radius: 5px;
    border-image: 
    linear-gradient(
      to bottom, 
      #fff, 
      transparent
    ) 1 100%;
}

.titleCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.listCard {
    list-style: none;
}

.listCard li {
    width: 95%;
    height: 80px;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(265, 265, 265, 0.5);
}
